

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 15px;
    max-width: 15rem;
}

.sidebar-menu {
    padding: 55px 20px 20px 20px;

}
.sidebar-card-icon{
    margin: 5px 0 !important;
    padding: 0 !important;
    min-width: unset !important;
}
.sidebar-menu .sidebar-card {
    margin-bottom: 10px;
}