

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 15px;
    max-width: 15rem;
}

.sidebar-menu {
    padding: 55px 20px 20px 20px;

}

.sidebar-menu .sidebar-card {
    margin-bottom: 10px;
}